@use 'sass:color'
@use 'sass:list'
@use 'sass:map'
@use 'sass:math'
@use 'sass:meta'

$color-adjust: color.adjust(#6b717f, $red: 25)
$color-adjust-2: color.adjust(#6b717f, $red: 25, $blue: 110)

.color-1
  color: $color-adjust
  background-color: $color-adjust-2

$color-scale: color.scale($color-adjust-2, $lightness: -40% )
$color-scale-2: color.scale($color-adjust-2, $lightness: 40% )

.color-2
  background-color: $color-scale

.color-3
  background-color: $color-scale-2

.color-4
  background-color: color.invert($color-scale-2)

.color-5
  background-color: color.mix(#123123, #4f2f3f )

.color-6
  background-color: desaturate(#4f1f44, 60% ) //Não precisa do @use 'sass:color'

.color-7
  background-color: #4f1f44 //Não precisa do @use 'sass:color'
  transition: .5s
  
  &:hover
    background-color: lighten(#4f1f44, 60% )

$lista: 10px 20px 40px

@debug $lista

$lista: list.append($lista, 40px)

@debug $lista

@debug list.index($lista, 10px)
@debug list.index($lista, 50px)

@if list.index($lista, 20px) == 2
  $lista: list.append($lista, 50px)
@debug $lista

$lista2: 60px, 70px, 80px, 90px, 100px

$lista3: list.join($lista, $lista2)

@debug $lista3
@debug list.length($lista)
@debug list.length($lista2)
@debug list.length($lista3)

@debug list.nth($lista, 3)
@debug list.nth($lista2, 2)

$font-size-title: list.nth($lista2, 1)
@debug $font-size-title

h1
  font-size: $font-size-title

$m: ('font': 3px, 'color': blue, 'bold': false)
$n: ('border': 2px solid red, 'transition': 1s)

@debug $m
@debug $n

$x: map.merge($m, $n)
@debug $x

$border-title: map.get($x, 'border')

h1
  border: $border-title
@debug $border-title

@debug map.has-key($x, 'transition')
@debug map.has-key($x, 'teste')

@if map.has-key($x, 'transition')
  h1
    transition: map.get($x, 'transition')

$pi: math.$pi
@debug $pi
@debug math.floor($pi)

$z: 3.1
@debug math.ceil($z) //Arredonda pra cima
@debug math.floor($z) //Arredonda pra baixo

$a: 1, 2, 3, 4, 5
@debug math.max($a...) //Retorna o maior número da lista
@debug math.min($a...) //Retorna o menor número da lista

@debug math.floor(math.random() * 10) //Retorna um número aleatório de 1 a 10

@debug meta.global-variable-exists('a') // Verifica se a variável existe
@debug meta.global-variable-exists('v') // Verifica se a variável existe
@debug meta.global-variable-exists('m') // Verifica se a variável existe

@debug meta.inspect($a) // Mostra o valor da variável
@debug meta.inspect($n) // Mostra o valor da variável

@mixin testando
  margin: 0
  padding: 0

@debug meta.mixin-exists('test') //Verifica se um mixin existe
@debug meta.mixin-exists('testando') //Verifica se um mixin existe

@debug meta.type-of(2) // Verifica o tipo
@debug meta.type-of(('asd': 1)) // Verifica o tipo
@debug meta.type-of($a) // Verifica o tipo
@debug meta.type-of(#fff) // Verifica o tipo